<!-- Footer-->
<div class="footer">
    <div class="row fixed-bottom">
      <div
        class="col-sm-12 bg-dark justify-content-center text-center text-uppercase font-weight-bold"
      >
        <ul style="list-style: none">
          <li class="nav-item">
            <a
              class="nav-linklink-light text-decoration-none text-white"
              href="main.html"
              >Home</a
            >
            <a
              class="nav-linklink-light text-decoration-none text-white"
              href="buy.html"
              >Buy</a
            >
          </li>
        </ul>
      </div>
      <div
        class="col-sm-12 bg-dark text-white justify-content-center text-center"
      >
        <ul style="list-style: none">
          <li>Contact Us</li>
          <li>+852 3452 2229</li>
          <li>artdigital@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
